@font-face {
  font-family: BERNIERRegular-Regular;
  src: url(../fonts/BERNIERRegular-Regular.eot);
  src: url(../fonts/BERNIERRegular-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/BERNIERRegular-Regular.otf) format("opentype"),url(../fonts/BERNIERRegular-Regular.ttf) format("truetype"),url(../fonts/BERNIERRegular-Regular.woff) format("woff"),url(../fonts/BERNIERRegular-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: BERNIERDistressed-Regular;
  src: url(../fonts/BERNIERDistressed-Regular.eot);
  src: url(../fonts/BERNIERDistressed-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/BERNIERDistressed-Regular.otf) format("opentype"),url(../fonts/BERNIERDistressed-Regular.ttf) format("truetype"),url(../fonts/BERNIERDistressed-Regular.woff) format("woff"),url(../fonts/BERNIERDistressed-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}