.text-purple {
  color: #8301af
}
.text-pinc {
  color: #f36
}
.text-orange {
  color: #da842d
}
.text-yellow {
  color: #dfb302
}
.w-sm-30-60 {
  width: 25%;
  padding-top: 9.688rem
}
.line-height_1 {
  line-height: 1
}
.font-size_18_arial {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.125rem
}
.font-size_24_arial {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.5rem
}
.font-size_30_arial {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.875rem;
  line-height: 1.2
}
.font-size_36_arial {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 2.25rem;
  line-height: 1.2
}
.font-size_40_arial {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 2.5rem
}
.font_size_42 {
  font-size: 2.625rem;
  line-height: 1.625rem
}
.font_family_regular {
  //font-family: BERNIERRegular-Regular
}
.font_family_regular_24 {
  //font-family: BERNIERRegular-Regular;
  font-size: 1.5rem;
  line-height: 1.4
}
.font_family_regular_36 {
  //font-family: BERNIERRegular-Regular;
  font-size: 2.263rem;
  line-height: 1.2
}
.font_size_47 {
  font-size: 2.938rem;
  line-height: 1.2
}
.font_size_48 {
  font-size: 3rem;
  line-height: 1.2
}
.font_size_60 {
  font-size: 3.75rem;
  line-height: 1.2
}
.font_size_64 {
  font-size: 4rem;
  line-height: 1.2
}
@media (max-width:991.98px) {
  .w-sm-30-60 {
    width: 35%;
    padding-top: 12.188rem
  }
  .logo-footer {
    width: 40%
  }
  .font-size_18_arial {
    font-family: Arial,Helvetica,sans-serif;
    font-size: .75rem
  }
  .font-size_24_arial {
    font-size: 1.2rem
  }
}
@media (max-width:767.98px) {
  .font-size_40_arial {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.25rem
  }
  .font_size_42 {
    font-size: 2.5rem;
    line-height: 2.5rem
  }
  .font-size_30_arial {
    font-size: 1.2rem
  }
  .font-size_36_arial {
    font-size: .938rem
  }
  .font_size_64 {
    font-size: 1.5rem;
    line-height: 1.2
  }
  .w-sm-30-60 {
    width: 45%;
    padding-top: 2.938rem
  }
  .font_family_regular_24 {
    font-size: .875rem
  }
  .font_size_48 {
    font-size: 2rem;
    line-height: 1.2
  }
}
.hero-lg {
  display: block;
  position: absolute;
  left: 30%;
  z-index: 1050;
  width: 5.375rem;
  height: 6.625rem;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: url(../img/hero.png);
  background-position: 0 100%;
  -webkit-animation: animation-hero 1s steps(6) infinite;
  animation: animation-hero 1s steps(6) infinite
}
.hero {
  display: block;
  position: absolute;
  bottom: 92%;
  left: 15%;
  z-index: 1050;
  width: 2.688rem;
  height: 3.375rem;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: url(../img/hero2.png);
  background-position: 0 100%;
  -webkit-animation: animation-hero 1s steps(12) infinite;
  animation: animation-hero 1s steps(12) infinite
}
.knowledge-and-experience {
  display: block;
  position: absolute;
  bottom: 92%;
  left: 15%;
  z-index: 1030;
  width: 4.656rem;
  height: 4.469rem;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: url(../img/section/knowledge_and_experience.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain
}
.see-opportunities {
  display: block;
  position: absolute;
  bottom: 92%;
  left: 15%;
  z-index: 1030;
  width: 7.844rem;
  height: 6.344rem;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: url(../img/section/see_opportunities.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain
}
@media (min-width:768px) and (max-width:991.98px) {
  .hero-md {
    display: block;
    position: absolute;
    top: 48rem;
    left: 11%;
    z-index: 1050;
    width: 3.25rem;
    height: 4.688rem;
    background-image: url(../img/hero-md.png);
    background-position: 0 100%;
    -webkit-animation: animation-hero 1s steps(9) infinite;
    animation: animation-hero 1s steps(9) infinite
  }
}
@-webkit-keyframes animation-hero {
  0% {
    background-position: 0 top
  }
  to {
    background-position: -480px top
  }
}
@keyframes animation-hero {
  0% {
    background-position: 0 top
  }
  to {
    background-position: -480px top
  }
}
.bg-img {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top
}
.top-header__link {
  color: #f1f1f1
}
.top-header__link:hover {
  color: #f90
}
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px)
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px)
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
  }
}
.section-looc__h4:hover {
  cursor: pointer;
  color: #f36;
  text-decoration: none
}
.section-looc__h4.section-looc__h4_after_hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent
}
.section-looc__h4.section-looc__h4_after_hang:active,
.section-looc__h4.section-looc__h4_after_hang:focus,
.section-looc__h4.section-looc__h4_after_hang:hover {
  -webkit-animation-name: hvr-hang-sink,hvr-hang;
  animation-name: hvr-hang-sink,hvr-hang;
  -webkit-animation-duration: .3s,1.5s;
  animation-duration: .3s,1.5s;
  -webkit-animation-delay: 0s,.3s;
  animation-delay: 0s,.3s;
  -webkit-animation-timing-function: ease-out,ease-in-out;
  animation-timing-function: ease-out,ease-in-out;
  -webkit-animation-iteration-count: 1,infinite;
  animation-iteration-count: 1,infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal,alternate;
  animation-direction: normal,alternate
}
.section-looc__h4::after {
  content: url(../img/arrow-to-down.png);
  position: absolute;
  top: 17%;
  left: 100%
}
@media (max-width:767.98px) {
  .section-looc__h4:hover {
    cursor: pointer;
    color: #f36;
    text-decoration: none
  }
  .section-looc__h4.section-looc__h4_after_hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent
  }
  .section-looc__h4.section-looc__h4_after_hang:active,
  .section-looc__h4.section-looc__h4_after_hang:focus,
  .section-looc__h4.section-looc__h4_after_hang:hover {
    -webkit-animation-name: hvr-hang-sink,hvr-hang;
    animation-name: hvr-hang-sink,hvr-hang;
    -webkit-animation-duration: .3s,1.5s;
    animation-duration: .3s,1.5s;
    -webkit-animation-delay: 0s,.3s;
    animation-delay: 0s,.3s;
    -webkit-animation-timing-function: ease-out,ease-in-out;
    animation-timing-function: ease-out,ease-in-out;
    -webkit-animation-iteration-count: 1,infinite;
    animation-iteration-count: 1,infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal,alternate;
    animation-direction: normal,alternate
  }
  .section-looc__h4.section-looc__h4_after_hang::after {
    background: url(../img/arrow-to-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left
  }
  .section-looc__h4::after {
    content: "";
    position: absolute;
    top: 17%;
    left: 100%;
    height: 50px;
    width: 100%
  }
}
.section-really-want {
  background: url(../img/really-want-to-go-there.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat
}
.section-really-want__p {
  -webkit-transform: matrix(1.134,-.0355,.0355,1.134,0,0) translate(10px,-4px);
  -ms-transform: matrix(1.134,-.0355,.0355,1.134,0,0) translate(10px,-4px);
  transform: matrix(1.134,-.0355,.0355,1.134,0,0) translate(10px,-4px)
}
@media (max-width:991.98px) {
  .section-really-want {
    overflow: hidden
  }
}
@media (min-width:768px) {
  .section-really-want {
    height: 18rem
  }
}
.section-car {
  background: url(../img/bg-car.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 90.875rem
}
.section-car__text {
  top: 3.4rem;
  left: 1%
}
.section-car__btn {
  left: 18%;
  bottom: 220px;
  -webkit-transform: translate(50%,50%);
  -ms-transform: translate(50%,50%);
  transform: translate(50%,50%)
}
.section-car__arrow {
  left: 54%;
  bottom: 284px;
  -webkit-transform: translate(50%,50%);
  -ms-transform: translate(50%,50%);
  transform: translate(50%,50%)
}
.section-car__arrow p {
  -webkit-transform: matrix(.989,-.142,.142,.989,0,0);
  -ms-transform: matrix(.989,-.142,.142,.989,0,0);
  transform: matrix(.989,-.142,.142,.989,0,0)
}
@media (min-width:768px) {
  .section-car__text {
    top: 9.4rem;
    left: 1%
  }
  .section-car__text p {
    font-size: 1.8rem
  }
}
@media (max-width:767.98px) {
  .section-car__btn {
    left: -50%;
    bottom: 60px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%)
  }
  .section-car__arrow {
    left: 60%;
    bottom: 104px
  }
  .section-car .img_rotate_45 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:767.98px) {
  .section-car {
    background-size: cover;
    height: 35.875rem
  }
}